{% extends 'base.html' %}
{% block title%} {{ document.title }} {% endblock %}
{% block content %}
<main>
	<div class="d-none" id='document_id'>{{ document.id }}</div>
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-7">
					<h1>{{ document.title }}</h1>
				</div>
				<div class="col-5">
					<div class="d-flex flex-column flex-sm-row justify-content-end">
						{% if user.is_staff%}
						<button type="button" class="btn btn-sm btn-outline-dark mx-2 my-1" data-toggle="modal"
							data-target="#mModal">Добавить документ</button>
						{% endif %}
						<a href='/logout/' class="btn btn-sm btn-outline-dark mx-2 my-1">Выйти</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="tab-content" id="nav-tabContent">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 padding">
						<li class="list-group-item"><pre>{{ document.text }}</pre></li>
					</div>
					<div class="col-lg-6 padding">
						<div class="row">
							<div class="col-sm-12">
								<div class="list-group-item">
									<div class="d-flex flex-row justify-content-between">
										<div>

											<p class="text-success">За: <span id='yes'>{{ yes }}</span></p>
										</div>
										<div>
											<p class="text-danger">Против: <span id='no'>{{ no }}</span></p>
										</div>
										<div>
											<p class="text-danger">Проголосовать до {{ document.end_date }}</p>
										</div>

									</div>
								</div>
								<div class="list-group-item">
									<button class="btn btn-success" onclick="yes()">За</button>
									<button class="btn btn-danger" onclick="no()">Против</button>
									<div id='user_point'>
									{% if user_point.result == 1 %}
									<p class="text-success">Вы проголосовали за</p>
									{% elif user_point.result == 0 %}
									<p class="text-danger">Вы проглосовали против</p>
									{% else %}
									<p class="text-warning">Вы ещё не проголосовали</p>
									{% endif %}
									</div>
								</div>
								{% for r in results %}
								<div class="list-group-item">
									<div class="d-flex flex-row">
										<div>

											<p class="mr-4">{{ r.user.first_name}} {{ r.user.last_name }}</p>
										</div>
										<div id='user{{r.user.id}}'>
											{% if r.result == 1 %}
											<p class="text-success">За</p>
											{% elif r.result == 0 %}
											<p class="text-danger">Против</p>
											{% else %}
											<p class="text-warning">Не проголосовал</p>
											{% endif %}
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
							<div class="col-sm-12">
								<div class="list-group-item padding">
									<div class="form-group">
										<label>Обсуждение</label>
										<div id="textarea" class="card">
											<div class="container pt-1" id="chat">
												{% for c in comments %}
												<div class="row">
													<div class="col-3 name">
														{{ c.user.first_name}} {{c.user.last_name }}
													</div>
													<div class="col-5 comment">
														{{ c.text }}
													</div>
													<div class="col-4 date">
														{{ c.date }}
													</div>
												</div>
												{% endfor %}
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="form-group input-group">
												<input id='message' class="form-control"
													placeholder="Оставьте комментарий" type="text" required>
												<div class="input-group-append">
													<button type="button" onclick='post_message()'
														class="btn btn-sm btn-primary btn-block"><span
															class="carousel-control-next-icon"
															style="height:17px"></span></button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}